@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yeles4');
	src:url('fonts/icomoon.eot?#iefixyeles4') format('embedded-opentype'),
		url('fonts/icomoon.woff?yeles4') format('woff'),
		url('fonts/icomoon.ttf?yeles4') format('truetype'),
		url('fonts/icomoon.svg?yeles4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-accessibility:before {
	content: "\e600";
}

.icon-announcement:before {
	content: "\e601";
}

.icon-bug-report:before {
	content: "\e602";
}

.icon-delete:before {
	content: "\e603";
}

.icon-face-unlock:before {
	content: "\e604";
}

.icon-favorite:before {
	content: "\e605";
}

.icon-favorite-outline:before {
	content: "\e606";
}

.icon-help:before {
	content: "\e607";
}

.icon-https:before {
	content: "\e608";
}

.icon-lock:before {
	content: "\e609";
}

.icon-lock-open:before {
	content: "\e60a";
}

.icon-lock-outline:before {
	content: "\e60b";
}

.icon-report-problem:before {
	content: "\e60c";
}

.icon-room:before {
	content: "\e60d";
}

.icon-search:before {
	content: "\e60e";
}

.icon-settings:before {
	content: "\e60f";
}

.icon-error:before {
	content: "\e610";
}

.icon-warning:before {
	content: "\e611";
}

.icon-new-releases:before {
	content: "\e612";
}

.icon-dialpad:before {
	content: "\e613";
}

.icon-gps-fixed:before {
	content: "\e614";
}

.icon-usb:before {
	content: "\e615";
}

.icon-format-paint:before {
	content: "\e616";
}

.icon-insert-emoticon:before {
	content: "\e617";
}

.icon-keyboard:before {
	content: "\e618";
}

.icon-tag-faces:before {
	content: "\e619";
}

.icon-wb-incandescent:before {
	content: "\e61a";
}

.icon-wb-irradescent:before {
	content: "\e61b";
}

.icon-wb-sunny:before {
	content: "\e61c";
}

.icon-directions-bike:before {
	content: "\e61d";
}

.icon-local-bar:before {
	content: "\e61e";
}

.icon-local-florist:before {
	content: "\e61f";
}

.icon-my-location:before {
	content: "\e620";
}

.icon-th-small:before {
	content: "\e621";
}

.icon-sort-numerically:before {
	content: "\e622";
}

.icon-sort-alphabetically:before {
	content: "\e623";
}

.icon-social-facebook:before {
	content: "\e624";
}

.icon-pacman:before {
	content: "\e625";
}

.icon-refrigerator:before {
	content: "\e626";
}

.icon-transformers:before {
	content: "\e627";
}

.icon-spaceinvaders:before {
	content: "\e628";
}

.icon-ruler:before {
	content: "\e629";
}

.icon-rocket:before {
	content: "\e62a";
}

.icon-keyboard2:before {
	content: "\e62b";
}

.icon-gist-secret:before {
	content: "\f08c";
}

.icon-keyboard3:before {
	content: "\f00d";
}

.icon-microscope:before {
	content: "\f089";
}

.icon-paintcan:before {
	content: "\f0d1";
}

.icon-plug:before {
	content: "\f0d4";
}

.icon-rocket2:before {
	content: "\f033";
}

.icon-squirrel:before {
	content: "\f0b2";
}

.icon-telescope:before {
	content: "\f088";
}

.icon-paint-format:before {
	content: "\e90c";
}

.icon-barcode:before {
	content: "\e937";
}

.icon-calculator:before {
	content: "\e940";
}

.icon-pushpin:before {
	content: "\e946";
}

.icon-location:before {
	content: "\e947";
}

.icon-clock:before {
	content: "\e94e";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-keyboard4:before {
	content: "\e955";
}

.icon-hour-glass:before {
	content: "\e979";
}

.icon-spinner:before {
	content: "\e97a";
}

.icon-spinner2:before {
	content: "\e97b";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-spinner4:before {
	content: "\e97d";
}

.icon-spinner5:before {
	content: "\e97e";
}

.icon-spinner6:before {
	content: "\e97f";
}

.icon-spinner7:before {
	content: "\e980";
}

.icon-binoculars:before {
	content: "\e985";
}

.icon-search2:before {
	content: "\e986";
}

.icon-lock2:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-magic-wand:before {
	content: "\e997";
}

.icon-bug:before {
	content: "\e999";
}

.icon-glass:before {
	content: "\e9a0";
}

.icon-lab:before {
	content: "\e9aa";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-target:before {
	content: "\e9b3";
}

.icon-power-cord:before {
	content: "\e9b7";
}

.icon-happy:before {
	content: "\e9df";
}

.icon-happy2:before {
	content: "\e9e0";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-smile2:before {
	content: "\e9e2";
}

.icon-sad:before {
	content: "\e9e5";
}

.icon-sad2:before {
	content: "\e9e6";
}

.icon-baffled:before {
	content: "\e9f3";
}

.icon-baffled2:before {
	content: "\e9f4";
}

.icon-hipster:before {
	content: "\e9f9";
}

.icon-hipster2:before {
	content: "\e9fa";
}

.icon-cancel-circle:before {
	content: "\ea0d";
}

.icon-blocked:before {
	content: "\ea0e";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-reddit:before {
	content: "\eac7";
}

