
.icon-check:before { content: '\21'; } /* '!' */
.icon-crosshairs:before { content: '\22'; } /* '&quot;' */
.icon-star:before { content: '\23'; } /* '#' */
.icon-unlocked:before { content: '\24'; } /* '$' */
.icon-cogs-1:before { content: '\25'; } /* '%' */
.icon-smile:before { content: '\26'; } /* '&amp;' */
.icon-frown:before { content: '\27'; } /* ''' */
.icon-meh:before { content: '\28'; } /* '(' */
.icon-search:before { content: '\29'; } /* ')' */
.icon-heart:before { content: '\2a'; } /* '*' */
.icon-heart-empty:before { content: '\2b'; } /* '+' */
.icon-cog:before { content: '\e800'; } /* '' */
.icon-locked:before { content: '\e801'; } /* '' */
.icon-barcode:before { content: '\e802'; } /* '' */
.icon-drop:before { content: '\e803'; } /* '' */
.icon-alert:before { content: '\e804'; } /* '' */
.icon-cogs:before { content: '\e805'; } /* '' */
.icon-flask:before { content: '\e806'; } /* '' */
.icon-magic:before { content: '\e807'; } /* '' */
.icon-keyboard:before { content: '\e808'; } /* '' */
.icon-eraser:before { content: '\e809'; } /* '' */
.icon-reddit:before { content: '\e80b'; } /* '' */
.icon-plug:before { content: '\e80c'; } /* '' */
.icon-cake:before { content: '\e80d'; } /* '' */
.icon-toggle-off:before { content: '\e80e'; } /* '' */
.icon-toggle-on:before { content: '\e80f'; } /* '' */
.icon-agent:before { content: '\e810'; } /* '' */
.icon-cool:before { content: '\e811'; } /* '' */
.icon-th:before { content: '\e812'; } /* '' */
.icon-bug:before { content: '\e813'; } /* '' */
.icon-rocket:before { content: '\e814'; } /* '' */
.icon-skiing:before { content: '\e815'; } /* '' */
.icon-reddit-1:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e817'; } /* '' */
.icon-facebook-rect:before { content: '\e818'; } /* '' */
.icon-facebook-1:before { content: '\e819'; } /* '' */
.icon-lock-open:before { content: '\e81a'; } /* '' */
.icon-target:before { content: '\e81b'; } /* '' */
.icon-barcode-1:before { content: '\e81c'; } /* '' */
.icon-qrcode:before { content: '\e81d'; } /* '' */
.icon-giraffe:before { content: '\e81e'; } /* '' */